body.contact {
    background-image: url('imagini/image3_1.jpeg');
    background-attachment: fixed; /* Face imaginea de fundal să fie fixă */
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    margin-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.top-menu {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
   
    
}
.logo img {
    width: 50px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    align-items:flex-start;
    
    padding-left: 10px;
}
.logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 18px;
    margin-left: 10px; /* Adaugă un spațiu mic între logo și numele site-ului */
    color: #ede4e4; /* Poți să adaugi alte stiluri CSS pentru numele site-ului */
}
.buttons img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    display: inline-flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
/* 
.menu-button, .dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
} */
.buttons {
    
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
}
.menu-button:hover, .dropbtn:hover {
    background-color: #555;
}
/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
/* Stilurile pentru conținutul principal */
@media screen and (max-width: 768px) {
    .top-menu {
        padding: 10px; /* Reducem padding-ul pentru a face meniul mai compact */
        width: 100%; /* Extinderea meniului până la capătul ecranului */
        /* Eliminarea paddingului pentru a maximiza lățimea */
        margin: 0;
        position:absolute; 
        
    }

    .logo img {
        width: 24%; /* Reducem dimensiunea logo-ului pentru a face mai mult spațiu pentru butoane */
        
       
    }
    
    .buttons {
        margin-left: 0; /* Elimină margin-left-ul */
        margin-right: 0; /* Elimină margin-right-ul */
            
    }
    body.contact{
        margin-top: 350px;
    }

    .menu-button {
        font-size: 14px; /* Reducem dimensiunea textului butoanelor pentru a se potrivi ecranului mai mic */
        padding: px px; /* Reducem padding-ul butoanelor pentru a face meniul mai compact */
        margin-left: px;
    }
    .hide-on-small-screen {
        display: none;
    }
    .contact-container{
        
        width:100%;
       margin-top: 300px;
        font-size: 15px;
        text-align: center;
        align-items: center;
    }
    .row{
        flex-direction: column;

    }
    .contact-col form{
        font-size: 25px;
        margin-left: 10px;
    }
    .input-group label{
        font-size: 15px;
    }
    .contact-col{
        margin-bottom: px;
        width: 100%;
        
        margin-left: -25px;
       
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4
{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: var(--secondary-color);
}
/* 
********************Contact us***************** */
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
    
}
.contact-col{
  
    flex-basis: 48%;
    margin-bottom: 200px;
}
.contact-col div{
    display: flex;
    align-items: center;
    
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col form{
    width:  90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    position: relative;
    font-size: 25px;
    margin-left: 10px;
}
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;

    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

.input-group label{
    flex-basis: 28%;
    width: 100%;
    margin-right: 10px;
}
.input-group, .input-group textarea{
flex-basis: 68%;
background: transparent;
border: 0;
outline: 0;
padding: 10px 0;
border-bottom: 1px solid #999;
color: var(--secondary-color);
font-size: 18px;
   
}
::placeholder{
    font-size: 16px;
   
}
form button{
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.input-group span{
    position: absolute;
    bottom: 41px;
    right: -13px;
    font-size: 16px;
    color: red;
    text-align: right;
}
#submit-error{
    color: red;
}
.input-group span i{
    color: seagreen;
}
.contact-container{
    margin: 20px;
    width:80%;
    padding: 20px; /* Adaugă un spațiu între conținut și chenar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adaugă o umbră subtilă în jurul conținutului */
    border-radius: 10px; /* Rotunjește colțurile chenarului */
     /* Rotunjirea colțurilor chenarului */
    background-color: #ffffffeb; /* Culoarea de fundal cu transparență */
    margin-top: 300px;
}

.row{

    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    

}