:root {
    --primary-color: #f8f8f8;
    --secondary-color: #555;
    --highlight-color: #f44336;
}

body{
    background-image: url('imagini/fundal_rapoarte.jpg');
    background-attachment: fixed; /* Face imaginea de fundal să fie fixă */
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
     margin: 0;
     margin-top: 900px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.top-menu {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
   
    
}
.logo img {
    width: 50px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    align-items:flex-start;
    
    padding-left: 10px;
}
.logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 18px;
    margin-left: 10px; /* Adaugă un spațiu mic între logo și numele site-ului */
    color: #ede4e4; /* Poți să adaugi alte stiluri CSS pentru numele site-ului */
}
.buttons img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    display: inline-flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}

.buttons {
    
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
}
.menu-button:hover, .dropbtn:hover {
    background-color: #555;
}

.useful-tips-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    
    margin: 20px;
    width:80%;
    padding: 20px; /* Adaugă un spațiu între conținut și chenar */
    box-shadow: 0 0 10px rgb(255 255 255 / 0%); /* Adaugă o umbră subtilă în jurul conținutului */
    border-radius: 10px; /* Rotunjește colțurile chenarului */
     /* Rotunjirea colțurilor chenarului */
    background-color: #ffffff7d; /* Culoarea de fundal cu transparență */
    margin-top: 300px;
}

.useful-tips-container h1 {
    margin-bottom: 40px;
    color:black;
}

.tip-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tip-item {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tip-item img {
    width: 100%;
    height: auto;
    display: block;
}

.tip-item h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    margin: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.tip-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .tip-item h2 {
        font-size: 18px;
    }
    .top-menu {
        padding: 10px; /* Reducem padding-ul pentru a face meniul mai compact */
        width: 100%; /* Extinderea meniului până la capătul ecranului */
        /* Eliminarea paddingului pentru a maximiza lățimea */
        margin: 0;
        position:absolute; 
        
    }
.useful-tips-container {
    font-size: 12px;
}
    .logo img {
        width: 24%; /* Reducem dimensiunea logo-ului pentru a face mai mult spațiu pentru butoane */
        
       
    }
    body{
        margin-top: 440px;
    }
    .buttons {
        margin-left: 0; /* Elimină margin-left-ul */
        margin-right: 0; /* Elimină margin-right-ul */
            
    }


    .menu-button {
        font-size: 14px; /* Reducem dimensiunea textului butoanelor pentru a se potrivi ecranului mai mic */
        padding: px px; /* Reducem padding-ul butoanelor pentru a face meniul mai compact */
        margin-left: px;
    }
    .hide-on-small-screen {
        display: none;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4
{
    margin-bottom: 25px;
    margin-top: 200px;
    font-weight: 600;
    color: var(--secondary-color);
}

/* ********************logout dialog******************* */


#dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
    justify-content: center;
    align-items: center;
}
#confirm-button, #cancel-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#cancel-button {
    background-color: #520903;
    color: white;
}
#confirm-button {
    background-color: #cc7532;
    color: white;
}
#dialog-box {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#button-container {
    margin-top: 20px;
}

#dialog-box h2 {
    margin-top: 0;
}

#dialog-box p {
    margin-bottom: 20px;
}
