body {
    background-image: url('imagini/image3_1.jpeg');
    background-attachment: fixed; /* Face imaginea de fundal să fie fixă */
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
/* Stilurile pentru meniul de sus */
.top-menu {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;


}
.logo img {
    width: 50px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    align-items:flex-start;

    padding-left: 10px;
}
.logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 18px;
    margin-left: 10px; /* Adaugă un spațiu mic între logo și numele site-ului */
    color: #ede4e4; /* Poți să adaugi alte stiluri CSS pentru numele site-ului */
}
.buttons img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    display: inline-flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
/* 
.menu-button, .dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
} */
.buttons {

    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
}
.menu-button:hover, .dropbtn:hover {
    background-color: #555;
}

/* Stilurile pentru conținutul principal */
@media screen and (max-width: 768px) {
    .top-menu {
        padding: 10px; /* Reducem padding-ul pentru a face meniul mai compact */
        width: 100%; /* Extinderea meniului până la capătul ecranului */
        /* Eliminarea paddingului pentru a maximiza lățimea */
        margin: 0;
        position:absolute; 

    }

    .logo img {
        width: 24%; /* Reducem dimensiunea logo-ului pentru a face mai mult spațiu pentru butoane */


    }

    .buttons {
        margin-left: 0; /* Elimină margin-left-ul */
        margin-right: 0; /* Elimină margin-right-ul */

    }


    .menu-button {
        font-size: 14px; /* Reducem dimensiunea textului butoanelor pentru a se potrivi ecranului mai mic */
        padding: px px; /* Reducem padding-ul butoanelor pentru a face meniul mai compact */
        margin-left: px;
    }
    .hide-on-small-screen {
        display: none;
    }
    .main-content{
        padding: 1px;
        width: 100%;
    }
    .inspectii-container{
        
        width:100%;
       margin-top: 200px;
        font-size: 17px;
        text-align: center;
        align-items: center;
    }

}

#dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    
    justify-content: center;
    align-items: center;
}
#confirm-button, #cancel-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#cancel-button {
    background-color: #520903;
    color: white;
}
#confirm-button {
    background-color: #cc7532;
    color: white;
}
#dialog-box {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#button-container {
    margin-top: 20px;
}

#dialog-box h2 {
    margin-top: 0;
}

#dialog-box p {
    margin-bottom: 20px;
}