body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adăugare imagine de fundal */
    background-image: url('imagini/image2.jpeg');
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%; /* Ajustează lățimea containerului */
        margin: 20px auto; /* Ajustează marginile */
        padding: 10px; /* Ajustează padding-ul */
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    button {
        width: 90%; /* Ajustează lățimea elementelor de intrare */
    }
}
/* Media query pentru ecrane mai mari */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px; /* Ajustează lățimea maximă a containerului */
    }
}
.login-container {
    text-align: center;
    background-color: #ffffff; /* Schimbarea culorii de fundal la alb */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.logo {
    width: 250px;
    height: auto;
    align-items: center;
}
form {
    margin-top: 20px;
}
input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;

}

.login-button{
    align-items: center;
}
#login-button{
    align-items: center;
}
button {
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    align-self: center;
    align-items: center;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: center;
}
input[type="email"]{
    width: 280px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button:hover {
    background-color: #ffcd38;
}
a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}
.input-group {
    margin-bottom: 15px;
    align-items: center;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
}
#register-button{
    align-items: center;
}
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
/* ************ Welcome ****************** */
/* Stilizare container pentru bun venit */
body.welcome {
  
    background-image: url('imagini/image1_1.jpeg');
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
.welcome-container {
    width: 1000px; /* Dimensiunea fixă a slide-ului */
    height: 450px; /* Dimensiunea fixă a slide-ului */
    overflow: hidden; /* Ascunde textul care depășește slide-ul */
    background-color: #ffffff; /* Culorează slide-ul */
    border: 1px solid #ccc; /* Adaugă un contur slide-ului */
    border-radius: 8px; /* Rotunjeste marginile slide-ului */
    margin: 0 auto; /* Centrează slide-ul */
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* Stilizare galerie de imagini */
.gallery {
    display: flex;
    overflow-x: auto; /* Permite defilarea orizontală a imaginilor */
    scroll-snap-type: x mandatory; /* Asigură defilarea lină între imagini */
    position: relative; /* Asigură poziționarea relativă pentru a poziționa butoanele în cadrul acestui container */
    padding: 50px; /* Adaugă spațiu între text și marginile slide-ului */
    word-wrap: break-word; /* Permite textului să se împartă pe mai multe linii */
    text-align: center; 
}
.slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin: 0 20px; /* Spațiere mai mare între slide-uri */
    text-align: center;
    width: 80%; /* Lățime mai mare a slide-urilor */
    max-width: 900px; /* Lățime maximă a slide-urilor */
    margin: 0 auto; /* Centrare a slide-urilor în cadrul containerului */
}
.slide img {
    max-width: 95%; /* Redimensionează imaginea la lățimea maximă a slide-ului */
    max-height: 180px; /* Limitează înălțimea maximă a imaginii */
    height: auto; /* Asigură proporțiile corecte ale imaginii */
    margin: 0 auto; /* Centrează imaginea în cadrul slide-ului */
}
/* Stilizare buton */
button {
    margin-top: 30px;
    padding: 20px 25px;
    font-size: 15x;
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}
button:hover {
    background-color: #ffcd38;
}
/* Stilizare butoane de navigare */
.prev, .next {
    position: absolute; /* Poziționează butoanele absolut în cadrul containerului */
    top: 50%; /* Aliniază butoanele la jumătatea înălțimii containerului */
    transform: translateY(-50%); /* Centrează vertical butoanele în cadrul containerului */
    width: 70px; /* Ajustează lățimea butoanelor la nevoie */
    height: 70px; /* Ajustează înălțimea butoanelor la nevoie */
    background-color: rgba(255, 94, 1, 0.979); /* Adaugă fundal butoanelor */
    color: #fff; /* Culorează textul butoanelor */
    border: none;
    border-radius: 50%; /* Rotunjeste marginile butoanelor pentru a crea un aspect mai plăcut */
    cursor: pointer;
    text-align: center;
    font-size: 24px; /* Ajustați dimensiunea fontului săgeții */
   
}
.prev {
    left: 30px;
}
.next {
    right: 30px;
}
.slide p {
    font-size: 22px; /* Ajustați dimensiunea fontului pentru paragrafe */
}
/* Stilizare buton "Începeți acum" */
#startBtn {
    display: block;
    width: 200px;
    margin-top: 330px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Setează poziția absolută pentru buton */
    bottom: 0.1px; /* Poziționează butonul la 10px distanță de partea de jos a containerului */
    left: 50%; /* Poziționează butonul la mijlocul containerului */
    transform: translateX(-50%); /* Corectează poziția butonului pentru a fi în mijloc */
    z-index: 1; 
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
/* ****************** LOCATION ************************ */
body.location {
    background-image: url('imagini/image3_1.jpeg');
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
.location-container {
    /* width: 1000px;  Dimensiunea fixă a slide-ului 
    height: 450px;  Dimensiunea fixă a slide-ului */ 
    overflow: hidden; /* Ascunde textul care depășește slide-ul */
    background-color: #ffffff; /* Culorează slide-ul */
    border: 1px solid #ccc; /* Adaugă un contur slide-ului */
    border-radius: 8px; /* Rotunjeste marginile slide-ului */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   width: 70%;
   
   align-items: center;
   padding: 20px;
   margin: 0 auto;
}
.left, .right {
    width: 80%;
}
@media screen and (min-width: 768px) {
    .location-container {
        flex-direction: row;
    }
    .left {
        width: 40%;
    }
    .right {
        width: 60%;
    }
}
/* Restul stilurilor */
 /* Stilurile pentru containerul principal */
 /* #container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
/* 
#map-container {
    width: 60%; 
}
#content-container {
    width: 35%; 
} */
#map {
    height: 400px;
    width: 100%;
     margin-top: 20px;
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}
label {
    margin-bottom: 5px;
    
   
}
input {
    margin-bottom: 10px;
    padding: 5px;
   
    
}
input[type="text"] {
    width: 90%; /* Schimbă lățimea la o valoare mai mică, de exemplu 200px */
}
button {
    margin-top: 30px;
    padding: 20px 25px;
    width: 75%;
    font-size: 16px;
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;    
}
button:hover {
    background-color: #ffcd38;
}
/* ****************************home*************** */
body.home {
    background-image: url('imagini/image3_1.jpeg');
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}
/* Stilurile pentru meniul de sus */
.top-menu {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}
.logo img {
    width: 70px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    align-items:flex-start;
    
    padding-left: 20px;
}
.logo{
    margin-right: auto;
}
.buttons img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
    display: inline-flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
/* 
.menu-button, .dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
} */
.buttons {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-left: 5px; /* Spațiu între butoane */
    display: flex; /* Afișează butonul ca element inline flexibil */
    align-items: center; 
}
.menu-button img{
    width: 30px; /* Ajustează dimensiunea logo-ului după preferință */
    height: auto;
}
.menu-button:hover, .dropbtn:hover {
    background-color: #555;
}
/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
/* Stilurile pentru conținutul principal */
.main-content {
    margin: 20px;
}
#hive-list {
    display: flex;
    flex-wrap: wrap;
}
#hive-list button {
    margin: 5px;
}
/* Alte stiluri pot fi adăugate aici */